html,body{
    direction: ltr !important;
}

#setting-error-tgmpa,
.update-nag.notice.notice-warning,
#wpfooter,
.postbox-header
{
    display: none !important;
}

#poststuff #post-body.columns-2{
    margin-right: initial !important;
}

.postbox-container{
    float: initial !important;
    width: initial !important;
}

#postbox-container-1{
    margin-right: initial !important;
    position: fixed;
    bottom: 0px;
    right: 0px;
    z-index: 99;
}

#side-sortables{
    min-height: initial !important;
    width: initial !important;
}


.CodeMirror{
    min-height: 100vh;
    height: auto !important;
}

.CodeMirror-scroll{
    min-height: 100vh;
}

.button-large{
    padding: 0 70px !important;
}



.CodeMirror-focused .cm-matchhighlight {
    background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAIAAAACCAYAAABytg0kAAAAFklEQVQI12NgYGBgkKzc8x9CMDAwAAAmhwSbidEoSQAAAABJRU5ErkJggg==);
    background-position: bottom;
    background-repeat: repeat-x;
  }
  .cm-matchhighlight {
    background-color: green;
    color: white !important;
}
  .CodeMirror-selection-highlight-scrollbar {background-color: green}

  .cm-tab {
    /* background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAADAAAAAMCAYAAAAkuj5RAAAAAXNSR0IArs4c6QAAAGFJREFUSMft1LsRQFAQheHPowAKoACx3IgEKtaEHujDjORSgWTH/ZOdnZOcM/sgk/kFFWY0qV8foQwS4MKBCS3qR6ixBJvElOobYAtivseIE120FaowJPN75GMu8j/LfMwNjh4HUpwg4LUAAAAASUVORK5CYII=); */
    background: url('arrow-right-long-solid.svg');
    /* background: rgb(255, 255, 255); */
    background-position: right;
    background-repeat: no-repeat;
 }